body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color:#4e5180 /*#f498b8*/;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
#headingGroup p {
    color: #4e5180;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
    background-color:white;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color:  #EA1C2C;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
.navbar{
    color:  #EA1C2C;
    background-color: rgb(222,192,222);
    transition: background 500ms;
    align-content: center;
    font-size: 1.5rem;
    font-weight: 100;
}
.card {
    text-align: center;
    padding: 3px;
    background: rgb(222,192,222);
    color:#EA1C2C;
  }

h5{
    color:  #EA1C2C;
    font-size: 1.5rem;
    font-weight: 200;    
}
}

.plan a{
    font-size: 100px;
    color:  #EA1C2C;
    text-decoration:underline;
    align-content: center;
    font-weight: 200;

}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
.blurb h2 {
    font-size: 2rem;
    }
}
.blurb a{
    font-weight:400;
    
}
.blurb a:hover{
    color: #EA1C2C;
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #EA1C2C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #d7c5d7;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
font-weight:200;}

.dropdown:hover .dropbtn {
    color:#EA1C2C;
    background-color:#a476a7;
    font-size: 1.5rem;
}
ul {
    list-style: none;
    display: flex
}

.social-icon {
    height:45px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 27px;
    margin-right: 11px;
    cursor: pointer
}

.social-twitter {
    background-color: #55acee
}

.social-facebook {
    background-color: #3b5999
}

.social-linkedin {
    background-color: #0077B5
}

.social-google{
    background-color: #dd4b39
}
.social-location{
    color: #dd4b39
}

.social-instagram {
    background-color: #dd4b39
}

.social-icon i {
    transition: 0.4s all
}

.social-icon:hover i {
    transform: scale(1.4)
}
  